<h1 align="center">FOR LOOPS</h1>
<h2 align="left"><u>Lesson Guide</u></h2>

- [**FOR LOOPS**](#for)
- [**NESTED FOR LOOPS**](#nested)
- [**BREAK / CONTINUE**](#breaks)
- [**MORE EXAMPLES**](#examples)

Documentation: https://docs.python.org/3/tutorial/controlflow.html?highlight=try%20else#for-statements

<a id='for'></a>
## FOR LOOPS

A <code>for</code> loop acts as an iterator in Python; it goes through items that are in a *sequence* or any other iterable item. Objects that we've learned about that we can iterate over include strings, lists, tuples, and even built-in iterables for dictionaries, such as keys or values.

general format for a <code>for</code> loop in Python:
```python
    for item in object:
        statements to do stuff
```

In [1]:
friends = ["Rolf", "Jen", "Anne"]

for friend in friends:
    print(friend)

Rolf
Jen
Anne

In [2]:
number = 5
multiplier = 8
answer = 0

# can use the _ as the name place if we don't plan on using the _ in the indented block of code.
for _ in range(1, multiplier+1):
    answer += number
print(answer)

# Alternatively,
number = 5
multiplier = 8
answer = 0

for _ in range(multiplier):
    answer += number
print(answer)

40
40

In [3]:
vendors = ['Cisco', 'HP', 'Nortel', 'Avaya', 'Juniper']

for index, item in enumerate(vendors):
    print(index, item)
else:
    print('The for loop is now complete')

0 Cisco
1 HP
2 Nortel
3 Avaya
4 Juniper
The for loop is now complete

In [4]:
# -- Using each value while you iterate --

students = [
    {"name": "Rolf", "grade": 90},
    {"name": "Bob", "grade": 78},
    {"name": "Jen", "grade": 100},
    {"name": "Anne", "grade": 80},
]

for student in students:  # student is a variable used for iteration
    name = student["name"]
    grade = student["grade"]
    print(f"{name} has a grade of {grade}.")

# When to use?
# When you want to repeat something a defined number of times, or want to use each element.

Rolf has a grade of 90.
Bob has a grade of 78.
Jen has a grade of 100.
Anne has a grade of 80.

In [5]:
# Given a tuple or list:
currencies = 0.8, 1.2
usd, eur = currencies

# -- Destructuring in a loop --
# If you've got a list of lists, such as friend names and ages, you can destructure
# in a loop like this:

friends = [("Rolf", 25), ("Anne", 37), ("Charlie", 31), ("Bob", 22)]
for name, age in friends:  
    print(f"{name} is {age} years old.")
print('\n')
    
# Similarly,
friends = [("Rolf", 25), ("Anne", 37), ("Charlie", 31), ("Bob", 22)]
for friend in friends:  
#     name = friend[0]
#     age = friend[1]
#     print(f"{name} is {age} years old.")
    print(f"{friend[0]} is {friend[1]} years old.")

Rolf is 25 years old.
Anne is 37 years old.
Charlie is 31 years old.
Bob is 22 years old.


Rolf is 25 years old.
Anne is 37 years old.
Charlie is 31 years old.
Bob is 22 years old.

In [6]:
friend_ages = {"Rolf": 25, "Anne": 37, "Charlie": 31, "Bob": 22}

# equivalent to: for name in friend_ages.keys():
for name in friend_ages:        
    print(name)     # returns the keys

print('*'*20)
for age in friend_ages.values():
    print(age)      # returns the values 

print('*'*20)
for name, age in friend_ages.items():
    print(f"{name} is {age} years old.")

Rolf
Anne
Charlie
Bob
********************
25
37
31
22
********************
Rolf is 25 years old.
Anne is 37 years old.
Charlie is 31 years old.
Bob is 22 years old.

In [7]:
my_friends = {'Jose':6, 'Rolf':12, 'Anne':6}

do_i_know = 'Anne'

# equivalent to - if do_i_know in my_friends:
if do_i_know in my_friends.keys():   
    print(f'I know {do_i_know}')

I know Anne

In [8]:
# example taken from section on strings

number = "9,223;372:036 854,775;807"
seperators = number[1::4]
print(seperators)

values = "".join(char if char not in seperators else " " for char in number).split()

print(values)
print([int(val) for val in values])

,;: ,;
['9', '223', '372', '036', '854', '775', '807']
[9, 223, 372, 36, 854, 775, 807]

In [9]:
number = "9,223;372:036 854,775;807"
seperators = ""

for char in number:
    if not char.isnumeric():
        seperators = seperators + char

print(seperators,'\n')

values = "".join(char if char not in seperators else " " for char in number).split()

print(values)
print([int(val) for val in values])
print(sum([int(val) for val in values]))

,;: ,;

['9', '223', '372', '036', '854', '775', '807']
[9, 223, 372, 36, 854, 775, 807]
3076

In [10]:
string = "Hello, There"

capitals = ""

for char in string:
    if char.isupper():
        capitals = capitals + char
        
print(capitals)

HT

In [11]:
#challenge:

for number in range(0,101):
    if number % 7 == 0:
        print(number)
        
# Alternatively,
# for i in range(0,101,7):
#     print(i)
    
# Alternatively,
# for i in range(101)[::7]:
#     print(i)

0
7
14
21
28
35
42
49
56
63
70
77
84
91
98

<a id='nested'></a>
## NESTED `for` LOOPS

In [12]:
list1 = [4, 5, 6]
list2 = [10, 20, 30]

for i in list1:
    for j in list2:
        print(i * j)
    print(i)

40
80
120
4
50
100
150
5
60
120
180
6

In [13]:
for i in range(1,5):
    for j in range(1,5):
        # print("{0} times {1} is {2}".format(j, i, i*j))
        print(f"{j:2} times {i} is {i*j:3}")
    print("-------------------")

 1 times 1 is   1
 2 times 1 is   2
 3 times 1 is   3
 4 times 1 is   4
-------------------
 1 times 2 is   2
 2 times 2 is   4
 3 times 2 is   6
 4 times 2 is   8
-------------------
 1 times 3 is   3
 2 times 3 is   6
 3 times 3 is   9
 4 times 3 is  12
-------------------
 1 times 4 is   4
 2 times 4 is   8
 3 times 4 is  12
 4 times 4 is  16
-------------------

In [14]:
for i, j in zip(range(1,13), range(1,13)):
    print(f"{j} times {i} is {i*j}")

1 times 1 is 1
2 times 2 is 4
3 times 3 is 9
4 times 4 is 16
5 times 5 is 25
6 times 6 is 36
7 times 7 is 49
8 times 8 is 64
9 times 9 is 81
10 times 10 is 100
11 times 11 is 121
12 times 12 is 144

<a id='breaks'></a>
## BREAK  /  CONTINUE
[Documentation](https://docs.python.org/3/tutorial/controlflow.html?highlight=try%20else#break-and-continue-statements-and-else-clauses-on-loops)

In [15]:
list1 = [4,5,6]
list2 = [10,20,30]

for i in list1:
    for j in list2:
        if j == 20:
            break
        print(i * j)
    print('Outside the nested loop')

40
Outside the nested loop
50
Outside the nested loop
60
Outside the nested loop

In [16]:
list1 = [4,5,6]
list2 = [10,20,30]

for i in list1:
    for j in list2:
        if j == 20:
            continue
        print(i * j)
    print('Outside the nested loop')

40
120
Outside the nested loop
50
150
Outside the nested loop
60
180
Outside the nested loop

In [17]:
for x in range(30):
    if x % 3 == 0 or x%5==0:
        continue
    else:
        print(x)
        
# Alternatively,
# for x in range(30):
#     if x % 3 != 0 and x%5!=0:
#         print(x)

1
2
4
7
8
11
13
14
16
17
19
22
23
26
28
29

In [18]:
shopping_list = ['milk', 'pasta', 'eggs', 'spam', 'bread', 'rice']

# This iterates through the list and prints all the items.
# for item in shopping_list:
#     print(f'buy {item}')
   
# suppose we did not want to print out 'spam':
for item in shopping_list:
    if item != 'spam':
        print(f'buy {item}')
print('*'*20)
#this does the same as above but uses 'continue' to not print out 'spam'.
for item in shopping_list:
    if item == 'spam':
        continue
    
  # print(f'buy {item}')
    else:
        print(f'buy {item}')

buy milk
buy pasta
buy eggs
buy bread
buy rice
********************
buy milk
buy pasta
buy eggs
buy bread
buy rice

In [19]:
shopping_list = ['milk', 'pasta', 'eggs', 'spam', 'bread', 'rice']

#now we replace 'continue' with 'break'.
for item in shopping_list:
    if item == 'spam':
        break                 # once we reach 'spam' the program ends 
    else:
        print(f'buy {item}')

buy milk
buy pasta
buy eggs

In [20]:
shopping_list = ['milk', 'pasta', 'eggs', 'spam', 'bread', 'rice']

item_to_find = 'spam'
found_at = None

#for index in range(6):
for index in range(len(shopping_list)):
    if shopping_list[index] == item_to_find:
        found_at = index
        break                 #using 'break' allows the loop to end rather than keep going.
        
print(f'item found at position {found_at}')

item found at position 3

In [21]:
shopping_lists = ['milk', 'pasta', 'eggs', 'spam', 'bread', 'rice']

item_to_find = 'albatross'
found_at = None

#for index in range(6):
for index in range(len(shopping_lists)):
    if shopping_lists[index] == item_to_find:
        found_at = index
        break                 

if found_at is not None:        
    print(f'item found at position {found_at}')
else:
    print(f'{item_to_find} not found')

albatross not found

In [22]:
shopping_list = ['milk', 'pasta', 'eggs', 'spam', 'bread', 'rice']

item_to_find = 'spam'
found_at = None

#this is a simplified version of above
if item_to_find in shopping_list:
    found_at = shopping_list.index(item_to_find)

if found_at is not None:        
    print(f'item found at position {found_at}')
else:
    print(f'{item_to_find} not found')

item found at position 3

In [23]:
# -- break --
# Exits out of the loop, so that no more iterations occur.

cars = ["ok", "ok", "ok", "faulty", "ok", "ok"]

for status in cars:
    if status == "faulty":
        print("Stopping the production line!")
        break

    print(f"This car is {status}.")

This car is ok.
This car is ok.
This car is ok.
Stopping the production line!

In [24]:
# -- continue --
# Terminates the current iteration and moves onto the next one.

cars = ["ok", "ok", "ok", "faulty", "ok", "ok"]

for status in cars:
    if status == "faulty":
        print("Found faulty car, skipping...")
        continue

    print(f"This car is {status}.")
    print("Shipping new car to customer!")

This car is ok.
Shipping new car to customer!
This car is ok.
Shipping new car to customer!
This car is ok.
Shipping new car to customer!
Found faulty car, skipping...
This car is ok.
Shipping new car to customer!
This car is ok.
Shipping new car to customer!

In [25]:
# naive approach

cars = ["ok", "ok", "ok", "faulty", "ok", "ok"]
all_successful = True

for status in cars:
    if status == "faulty":
        print("Stopping the production line!")
        all_successful = False
        break
    print(f"This car is {status}.")
    
if all_successful:
    print('All cars built ok.')

This car is ok.
This car is ok.
This car is ok.
Stopping the production line!

In [26]:
# On loops, you can add an `else` clause. This only runs if the loop does not encounter a `break` or an error.
# That means, if the loop completes successfully, the `else` part will run.

cars = ["ok", "ok", "ok", "ok", "ok", "ok"]   # Remove the "faulty" and you'll see the `else` part starts running.

for status in cars:
    if status == "faulty":
        print("Stopping the production line!")
        break

    print(f"This car is {status}.")
else:
    print("All cars built successfully. No faulty cars!")

# Link: https://blog.tecladocode.com/python-snippet-1-more-uses-for-else/

This car is ok.
This car is ok.
This car is ok.
This car is ok.
This car is ok.
This car is ok.
All cars built successfully. No faulty cars!

In [27]:
#challenge
for i in range(0,100,7):
    if (i > 0) and (i % 11 == 0):
        print(i)
        break
    else:
        print(i)

#simplified version:
#for i in range(0,100,7):
#    print(i)
#    if (i > 0) and (i % 11 == 0):
#        break

0
7
14
21
28
35
42
49
56
63
70
77

In [28]:
#challenge
for i in range(21):
    if (i %3 == 0 or i%5==0):
        continue
    else:
        print(i)

1
2
4
7
8
11
13
14
16
17
19

In [29]:
#without using coninue:
for i in range(21):
    if i % 3 != 0 and i % 5 != 0:
        print(i)

1
2
4
7
8
11
13
14
16
17
19

Python's else statement is pretty versatile and can be used with more than just if conditionals. You can also use else with for and while loops, and also as part of a try / except block.

In the case of for loops, the else block executes if the main loop wasn't terminated by either a break statement, or an exception. For while loops, the else block runs when the loop condition evaluates to False at the start of a new iteration. If a break statement is encountered, or an exception occurs, the loop condition doesn't get checked again, so both of these cases prevent the else clause from running, just like with for loops.

In the the case of try / except, the else block runs in the event that an exception wasn't encountered as part of the try block.

In [30]:
"""
Convert the user input to an integer value and check the user's age is
over 18 if the conversion is successful. Otherwise, print an error message.
"""
try:
    age = int(input("Enter your age: "))
except:
    print ("Please only enter numerical characters.")

# The else block only runs if no exception gets raised
else:
    if age < 18:
        print("Sorry, you're too young to watch this movie.")
    else:
        print("Enjoy the movie!")

Enter your age: fifty
Please only enter numerical characters.

In [31]:
# Print whether or a not an integer is prime for all integers from 2 to 100
for dividend in range(2,50):
    divisor = 2

    while dividend >= divisor ** 2:
        result = dividend / divisor
        if result.is_integer():
            print(f"{dividend} is not prime")
            # Break the while loop when a number is proven non-prime
            break
        divisor += 1

    # The else block runs if no break was encountered in the while loop
    else:
        print(f"{dividend} is prime")

2 is prime
3 is prime
4 is not prime
5 is prime
6 is not prime
7 is prime
8 is not prime
9 is not prime
10 is not prime
11 is prime
12 is not prime
13 is prime
14 is not prime
15 is not prime
16 is not prime
17 is prime
18 is not prime
19 is prime
20 is not prime
21 is not prime
22 is not prime
23 is prime
24 is not prime
25 is not prime
26 is not prime
27 is not prime
28 is not prime
29 is prime
30 is not prime
31 is prime
32 is not prime
33 is not prime
34 is not prime
35 is not prime
36 is not prime
37 is prime
38 is not prime
39 is not prime
40 is not prime
41 is prime
42 is not prime
43 is prime
44 is not prime
45 is not prime
46 is not prime
47 is prime
48 is not prime
49 is not prime

In [32]:
#finding prime numbers - see whether n is divisible by any number other than 1 and itself.  

for n in range(2, 10):
    for x in range(2, n):   #could change n to sqrt(n)
        if n % x == 0:  # if n is divisible by x, it means it's not a prime number.
            print(f"{n} equals {x} * {n//x}")
            break
    else:  # if n was not divisible by any x, it means it is a prime number.
        print(f"{n} is a prime number.")

2 is a prime number.
3 is a prime number.
4 equals 2 * 2
5 is a prime number.
6 equals 2 * 3
7 is a prime number.
8 equals 2 * 4
9 equals 3 * 3

The variable name used for the item is completely up to the coder, so use your best judgment for choosing a name that makes sense and you will be able to understand when revisiting your code. This item name can then be referenced inside your loop, for example if you wanted to use <code>if</code> statements to perform checks.

<a id='examples'></a>
## MORE EXAMPLES
Iterating through a list

In [33]:
list1 = [1,2,3,4,5]

for num in list1:
    if num % 2 == 0:
        print(num)
    else:
        print('Odd number')

Odd number
2
Odd number
4
Odd number

Another common idea during a <code>for</code> loop is keeping some sort of running tally during multiple loops. For example, let's create a <code>for</code> loop that sums up the list:

In [34]:
list1 = [1,2,3,4,5]
# Start sum at zero
list_sum = 0 
no_loops = 0

for num in list1:
    list_sum = list_sum + num     # or list_sum += num
    no_loops +=1    # tracks the number of loops

print(list_sum)
print(no_loops)

15
5

We've used <code>for</code> loops with lists, how about with strings? Remember strings are a sequence so when we iterate through them we will be accessing each item in that string.

In [35]:
for letter in 'Hello':
    print(letter)

H
e
l
l
o

Let's now look at how a <code>for</code> loop can be used with a tuple:

In [36]:
tup = (1,2,3,4,5)

for t in tup:
    print(t)

1
2
3
4
5

Tuples have a special quality when it comes to <code>for</code> loops. If you are iterating through a sequence that contains tuples, the item can actually be the tuple itself, this is an example of *tuple unpacking*. During the <code>for</code> loop we will be unpacking the tuple inside of a sequence and we can access the individual items inside that tuple!

In [37]:
list2 = [(2,4),(6,8),(10,12)]

for tup in list2:
    print(tup)

(2, 4)
(6, 8)
(10, 12)

In [38]:
# Now with unpacking!
for (t1,t2) in list2:
    print(t1)

2
6
10

Cool! With tuples in a sequence we can access the items inside of them through unpacking! The reason this is important is because many objects will deliver their iterables through tuples. Let's start exploring iterating through Dictionaries to explore this further!

In [39]:
d = {'k1':1,'k2':2,'k3':3}

for item in d:
    print(item)

k1
k2
k3

Notice how this produces only the keys. So how can we get the values? Or both the keys and the values? 

We're going to introduce three new Dictionary methods: **.keys()**, **.values()** and **.items()**

In Python each of these methods return a *dictionary view object*. It supports operations like membership test and iteration, but its contents are not independent of the original dictionary – it is only a view. Let's see it in action:

In [40]:
# Create a dictionary view object
d.items()

dict_items([('k1', 1), ('k2', 2), ('k3', 3)])

Since the .items() method supports iteration, we can perform *dictionary unpacking* to separate keys and values just as we did in the previous examples.

In [41]:
# Dictionary unpacking
for k,v in d.items():
    print(k)
    print(v)

k1
1
k2
2
k3
3

If you want to obtain a true list of keys, values, or key/value tuples, you can *cast* the view as a list:

In [42]:
print(list(d.keys()))
print(list(d.values()))

['k1', 'k2', 'k3']
[1, 2, 3]

Remember that dictionaries are unordered, and that keys and values come back in arbitrary order. You can obtain a sorted list using sorted():

In [43]:
sorted(d.values())

[1, 2, 3]

In [44]:
for i in range(10):
    print(1,2,3,4,5, sep=' : ', end='?\n')

1 : 2 : 3 : 4 : 5?
1 : 2 : 3 : 4 : 5?
1 : 2 : 3 : 4 : 5?
1 : 2 : 3 : 4 : 5?
1 : 2 : 3 : 4 : 5?
1 : 2 : 3 : 4 : 5?
1 : 2 : 3 : 4 : 5?
1 : 2 : 3 : 4 : 5?
1 : 2 : 3 : 4 : 5?
1 : 2 : 3 : 4 : 5?

In [45]:
my_list = ['michael', 'mas', 'john', 'benji', 'aidan']
for name in my_list:
    print('hello,', name, end='!\n')
    print('Welcome to the party')

hello, michael!
Welcome to the party
hello, mas!
Welcome to the party
hello, john!
Welcome to the party
hello, benji!
Welcome to the party
hello, aidan!
Welcome to the party

In [46]:
my_string = 'abcdefg'
for char in my_string:
    if char == 'f':
        break
    elif char == 'c':
        continue
    print(char)

a
b
d
e

In [47]:
my_string = 'abcdefg'
for char in my_string:
    print(my_string[0:5])

abcde
abcde
abcde
abcde
abcde
abcde
abcde

In [48]:
my_range = range(2,5)
my_string = 'abcdefg'

for i in my_range:
    print(my_string[i])

c
d
e

In [49]:
squares = []

for num in range(5):
    sqr = num**2
    squares.append(sqr)

print(squares)

[0, 1, 4, 9, 16]

In [50]:
names = ["peter", 'John', 'bob', 'Rick', 'jess']
listed_names = []
non_listed_names = []

for name in names:
    if name in ["John", "Rick"]:
        listed_names.append(name)
#both append and extend methods can be used.      
    else:
        non_listed_names.extend([name])

#only way for this to work properly was to take the print commands out of loop to print them as a list rather
#than individually. 
print(f'These names are on the list: {listed_names}.')
print(f'{non_listed_names} are not on the list.')

These names are on the list: ['John', 'Rick'].
['peter', 'bob', 'jess'] are not on the list.

In [51]:
#Loop through and print out all even numbers from the numbers list in the same order they are received. 
#Don't print any numbers that come after 237 in the sequence.
numbers = [
    951, 402, 984, 651, 360, 69, 408, 319, 601, 485, 980, 507, 725, 547, 544,
    615, 83, 165, 141, 501, 263, 617, 865, 575, 219, 390, 984, 592, 236, 105, 942, 941,
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
    958, 609, 842, 451, 688, 753, 854, 685, 93, 857, 440, 380, 126, 721, 328, 753, 470,
    743, 527
]

numb = []
# your code goes here
for number in numbers:
    if number == 237:
        break      #this tells the code to stop looping once the iteration reaches the number 237.

    elif number % 2 == 1:
        continue    #this tells the code to ignore any odd number after checking it is not 237.
    
    else:
        numb.append(number)
    #print(numb)    #this would result in each number being printed individually via each iteration
print(numb)        #putting this outside the for loop will print the numbers as a list

[402, 984, 360, 408, 980, 544, 390, 984, 592, 236, 942, 386, 462, 418, 344, 236, 566, 978, 328, 162, 758, 918]

In [52]:
numbers = [
    951, 402, 984, 651, 360, 69, 408, 319, 601, 485, 980, 507, 725, 547, 544,
    615, 83, 165, 141, 501, 263, 617, 865, 575, 219, 390, 984, 592, 236, 105, 942, 941,
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
    958, 609, 842, 451, 688, 753, 854, 685, 93, 857, 440, 380, 126, 721, 328, 753, 470,
    743, 527
]

# your code goes here
even_numbers=[]

for i in numbers:
    if (i % 2 ==0):
        even_numbers.append(i)
    if i == 237:                  #elif will produce the same result
        break
print(even_numbers)
#for j in even_numbers:
 #   print(j)

[402, 984, 360, 408, 980, 544, 390, 984, 592, 236, 942, 386, 462, 418, 344, 236, 566, 978, 328, 162, 758, 918]