<h1 align="center">SETS</h1>
<h2 align="left"><u>Lesson Guide</u></h2>

- [CONSTRUCTING SETS](#construct)
- [BASIC BUILT-IN SET METHODS](#methods)
    - [Add & Update](#add)
    - [Discard & Remove](#discard)
- [MATHEMATICAL SET OPERATIONS](#maths)
- [COMPARATIVE EXAMPLES](#comp_examples)
- [EXAMPLES](#examples)

Sets are an unordered collection of *unique* elements. We can construct them by using the set() function. Sets connot be indexed or sliced.

<ins>Documentation</ins><br>
https://docs.python.org/3/library/stdtypes.html#set-types-set-frozenset        
https://docs.python.org/3/tutorial/datastructures.html#sets

**Lists**:
- The original, normal object.
- Created with [].
- append(), insert(index), pop(), pop(index).
- Duplicates and mutable.

**Sets**:
- Lists without duplicates.
- Created with {} or with set(my_list).
- add() and remove(element).

**Tuples**:
- Has duplicates, but immutable. Cannot be changed

In [1]:
print(dir(set))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [2]:
help(set.add)

Help on method_descriptor:

add(...)
    Add an element to a set.

    This has no effect if the element is already present.

<a id='construct'></a>
## CONSTRUCTING SETS

In [3]:
x = {}
y = set()

print(type(x))
print(type(y))

<class 'dict'>
<class 'set'>

In [4]:
# can pass through a tuple or a list
set1 = set((1,2,3,4,2,3,2))
set2 = set([1,2,3,4,2,3,2])

print(set1)
print(set2)

{1, 2, 3, 4}
{1, 2, 3, 4}

In [5]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}

# shows that duplicates have been removed
print(basket)                      

# fast membership testing
print('orange' in basket)
print('crabgrass' in basket)

{'apple', 'banana', 'pear', 'orange'}
True
False

<a id='methods'></a>
## BASIC BUILT-IN SET METHODS

<a id='add'></a>
### <ins>Add & Update</ins>

In [6]:
# creates an empty set
x = set()
y = {'cat'}  # cannot use {} to start as this is used for dictionaries.

# We add to sets with the add() method
x.add(1)
x.add(2)
y.add('dog')
y.add('horse')

# can also use update
y.update(['mouse', 'tiger'])

print(x)
print(y)

{1, 2}
{'tiger', 'cat', 'mouse', 'horse', 'dog'}

Note the curly brackets. This does not indicate a dictionary! Although you can draw analogies as a set being a dictionary with only keys.

We know that a set has only unique entries. So what happens when we try to add something that is already in a set?

In [7]:
# Try to add the same element
x.add(2)
x

{1, 2}

Notice how it won't place another 2 there. That's because a set is only concerned with unique elements! We can cast a list with multiple repeat elements to a set to get the unique elements. For example:

In [8]:
# Create a list with repeats
list1 = [1,1,2,2,3,4,5,6,1,1]

# Cast as set to get unique values
set(list1)

{1, 2, 3, 4, 5, 6}

In [9]:
a = {1,2,3}
a.add((4,5))
a

{(4, 5), 1, 2, 3}

In [10]:
# update can be used on any iterable object
a = {1,2,3}
a.update([4,5])
a.update((6,7))
a

{1, 2, 3, 4, 5, 6, 7}

In [11]:
a = {1,2,3}
b = {4,5,6}

for num in b:
    a.add(num)
    
print(a)

{1, 2, 3, 4, 5, 6}

In [12]:
even = frozenset(range(0,20,2))  #is immutable once created.
print(even)

frozenset({0, 2, 4, 6, 8, 10, 12, 14, 16, 18})

<a id='discard'></a>
### <ins>Discard & Remove</ins>
- when using remove(), must be precise otherwise an error will occur.
- when using discard(), no error will occur if object is not in the set.

In [13]:
clothing_list = ['blue', 'red', 'yellow', 'blue', 'red']
clothing_set = set(clothing_list)

# In a list:
print('for a list:')
clothing_list.append("purple")
clothing_list.pop()  # Removes the last item in the list (which is 'purple'.
clothing_list.pop(0) # Removes a specific item by index (here it is the first item - 'blue')
print(clothing_list)

# In a set
print('for a set:')
clothing_set.add("purple")
clothing_set.add("blue")       # will not show an error but will also not be added since it already exists
#clothing_set.pop()        # No! This is unreliable and random each time! The order is arbitrary.
#clothing_set.pop(0)       # No! Python throws an error! You can't index sets.
#clothing_set.pop('red')   # this will return an error 
clothing_set.remove('red')     # Do this! Call the element directly!
clothing_set.discard('black')  # does not return an error message when using discard command
print(clothing_set)

for a list:
['red', 'yellow', 'blue', 'red']
for a set:
{'purple', 'yellow', 'blue'}

<a id='maths'></a>
## MATHEMATICAL SET OPERATIONS

In [14]:
a = set('abracadabra')
b = set('alacazam')

# unique letters in a
print(f'unique letters in a: {a}')                                  

# letters in a but not in b
print(f'letter in a but not b: {a - b}')

# letters in a or b or both
print(f'letters in a or b or both: {a | b}')

# letters in both a and b
print(f'letter in both a and b: {a & b}')

# letters in a or b but not both
print(f'letter in a or b but not both: {a ^ b}')

unique letters in a: {'r', 'd', 'b', 'c', 'a'}
letter in a but not b: {'r', 'b', 'd'}
letters in a or b or both: {'l', 'r', 'z', 'm', 'd', 'b', 'c', 'a'}
letter in both a and b: {'a', 'c'}
letter in a or b but not both: {'l', 'b', 'r', 'z', 'm', 'd'}

In [15]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# returns a new set containing all elements that are in either set (i.e. joining the numbers)
print(set1.union(set2))
print(set2.union(set1))
print(set1 | set2)  # same as union

# returns a new set containing all elements that are in both sets (i.e. common numbers)
print(set1.intersection(set2))
print(set2.intersection(set1))
print(set1 & set2)  # same as intersection

# returns a new set containing all elements that are in this set but not the others
print(set1.difference(set2))  # in set1 but not in set2
print(set2.difference(set1))  # in set2 but not in set1
print(set1 - set2)

#this returns every value which does not feature in both sets (but are in one)
print(set1.symmetric_difference(set2))

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{4, 5}
{4, 5}
{1, 2, 3}
{8, 6, 7}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}

In [16]:
# Removes all elements of another set from this set. (i.e. removes elements in set1 from set2)

set2.difference_update(set1)
print(set2)
print(sorted(set2))    #notice how the output is now a list

{6, 7, 8}
[6, 7, 8]

In [17]:
# Reports whether another set contains this set

print(set1.issubset(set2))
print(set2.issubset(set1))

False
False

In [18]:
# Reports whether this set contains another set

print(set1.issuperset(set2))
print(set2.issuperset(set1))

False
False

In [19]:
# Return True if two sets have a null intersection.
set1.isdisjoint(set2)

True

<a id='comp_examples'></a>
## COMPARATIVE EXAMPLES

In [20]:
name = {'Michael', 'Felman'}
name

{'Felman', 'Michael'}

In [21]:
name = set('Michael Felman')
# name = set('Michael', 'Felman')   # this produces an error
name

{' ', 'F', 'M', 'a', 'c', 'e', 'h', 'i', 'l', 'm', 'n'}

In [22]:
name = ('Michael', 'Felman')
set_name = set(name)
set_name

{'Felman', 'Michael'}

In [23]:
# name = list('Michael', 'Felman')   # this will produce an error
name = list(('Michael', 'Felman'))
name

['Michael', 'Felman']

In [24]:
name = ('Michael', 'Felman')
list_name = list(name)
list_name

['Michael', 'Felman']

In [25]:
clothing_list = ['blue', 'red', 'yellow', 'blue', 'red']
clothing_set = set(clothing_list)

for item in clothing_list:
    print(item)

print('\nNow, for the set:\n')
    
for item in clothing_set:
    print(item)

#print(clothing_list[0])  #can be done
#print(clothing_set[0])   #cannot be done

blue
red
yellow
blue
red

Now, for the set:

red
yellow
blue

<a id='examples'></a>
## EXAMPLES

#### Challenge 1

1) Create a list ([]), set ({}), and tuple (()) of some of your favorite foods.

2) Create a second set from the list.

3) Next, in every list type that you can:

4) Add "pizza" anywhere; append "eggs" to the end.

5) Remove "pizza".

6) Re-assign the element at index 1 to be "popcorn".

7) Remove the element at index 2 and re-insert it at index 0.

8) Print the element at index 0.

9) Print your final lists using a loop, then print their types. Donâ€™t throw an error!

In [26]:
food_list = ['chocolate', 'chips', 'ice-cream']
food_set = {'chocolate', 'chips', 'ice-cream'}
food_tup = ('chocolate', 'chips', 'ice-cream')

food_set_2 = set(food_list)

food_list.insert(1, 'pizza')
food_list.append('eggs')
#food_set.add('pizza')
#food_set.add('eggs')
food_set.update(['pizza', 'eggs'])
#food_tup.add('pizza')    # will result in an error since we can't add to a tuple
food_set_2.update(['pizza', 'eggs'])

# food_list.pop(1)
food_list.remove('pizza')
food_set.remove('pizza')   # not safe to use pop for sets 
food_set_2.remove('pizza')

food_list[1] = 'popcorn'
#food_set[1] = 'popcorn'     # cannot be done with sets
#food_tup[1] = 'popcorn'     # cannot be done with tuples
#food__set_2[1] = 'popcorn'  # cannot be done with sets

food_list.pop(2)
food_list.insert(0,'ice-cream')
#food_set.remove('chocolate')    # not safe since sets are unordered 
# del food_tup[2]                # does not work since tuples are immutable
#food_set_2.remove('chocolate')

print(food_list[0])
#print(food_set[0])    # cannot be indexed
print(food_tup[0])
#print(food_set_2[0])  # cannot be indexed

print(food_list)
print(food_set)
print(food_tup)
print(food_set_2)

for i in food_list:
    print(i)

ice-cream
chocolate
['ice-cream', 'chocolate', 'popcorn', 'eggs']
{'chocolate', 'ice-cream', 'chips', 'eggs'}
('chocolate', 'chips', 'ice-cream')
{'chocolate', 'ice-cream', 'chips', 'eggs'}
ice-cream
chocolate
popcorn
eggs

In [27]:
# Challenge 2

sentence = input("Please enter a sentence: ")
sentence = set(sentence.lower())
alphabet = set('abcdefghijklmnopqrstuvwxyz')
vowels = set('aeiou')
acceptable_letters = alphabet.difference(vowels)

character_list = set()

for char in sentence:
    if char in acceptable_letters:
        character_list.add(char)

print(sorted(character_list))
print(len(character_list))

Please enter a sentence: How are you this evening
['g', 'h', 'n', 'r', 's', 't', 'v', 'w', 'y']
9

In [28]:
# Challenge 2

sentence = input("Please enter a sentence: ")

vowels = frozenset('aeiou')

final_set = set(sentence).difference(vowels)
final_set = sorted(final_set)

print(final_set)

Please enter a sentence: How are you this evening
[' ', 'H', 'g', 'h', 'n', 'r', 's', 't', 'v', 'w', 'y']

In [29]:
# You are working for the school Principal. We have a database of school students:
school = {'Bobby','Tammy','Jammy','Sally','Danny'}

#during class, the teachers take attendance and compile it into a list. 
attendance_list = ['Jammy', 'Bobby', 'Danny', 'Sally']

# using what you learned about sets, create a piece of code that the school principal can use to immediately 
# find out who missed class so they can call the parents. (Imagine if the list had 1000s of students. 
# The principal can use the lists generated by the teachers + the school database to use python 
# and make his/her job easier): Find the students that miss class!

absent_students = school.difference(attendance_list)
# it appears to work even though attendance_list is a list object
print(absent_students)

{'Tammy'}