<h1><center>Objects & Data Structures Exercises</center></h1>

## Test your knowledge. 
#### Write a brief description of all the following Object Types and Data Structures:

**Numbers**: store numerical information and come in two forms: integers (whole numbers) or floats (decimals).

**Strings**: ordered sequence of characters in quotations.

**Lists**: ordered sequence of objects represented by []. mutable

**Tuples**: ordered sequence of objects represented by (). immutable

**Dictionaries**: unordered key-value pairing represented by {key:value}. mutable

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [1]:
10 * 20 / 2 + 2**2 - 3.75

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5) 
    = 44
    
    What is the value of the expression 4 * 6 + 5  
    = 29
    
    What is the value of the expression 4 + 6 * 5  
    = 34

What is the *type* of the result of the expression 3 + 1.5 + 4?  

**float** since the expression contains 1.5

What would you use to find a numberâ€™s square root, as well as its square?

In [2]:
# Square root:
16**0.5

4.0

In [3]:
# Square:
4**2

16

## Strings

Given the string 'hello' give an index command that returns 'e'.

In [4]:
s = 'hello'
# Print out 'e' using indexing

s[1]

'e'

Reverse the string 'hello' using slicing:

In [5]:
s ='hello'
# Reverse the string using slicing

s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [6]:
s ='hello'
# Print out the 'o'

# Method 1:
s[4]

# Method 2:
s[-1]

'o'

In [7]:
# using slicing
s[4:5]

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [8]:
# Method 1:
testlist=[0,0,0]
testlist

[0, 0, 0]

In [9]:
# Method 2:
testlist2 = []
testlist2.append(0)
testlist2.append(0)
testlist2.append(0)
testlist2

[0, 0, 0]

In [10]:
# Method 3:
testlist3 = []
testlist3.extend([0,0,0])
testlist3

[0, 0, 0]

In [11]:
# Easiest method:
[0]*3

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [12]:
list3 = [1,2,[3,4,'hello']]

list3[2][2] = 'goodbye'
list3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [13]:
list4 = [5,3,4,6,1]

list4.sort()
list4

[1, 3, 4, 5, 6]

In [14]:
sorted(list4)

[1, 3, 4, 5, 6]

In [15]:
new = set(list4)
new

{1, 3, 4, 5, 6}

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [16]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [17]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [18]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1][0]

'hello'

In [19]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

Can you sort a dictionary? Why or why not?<br><br>
No because normal dictionaries are mappings, not a sequence.

## Tuples

What is the major difference between tuples and lists?<br><br>
tuples are immutable whereas lists can be changed.

How do you create a tuple?<br><br>
t=(1,2,3)

## Sets

What is unique about a set?<br><br>
does not allow duplicates

Use a set to find the unique values of the list below:

In [20]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

set(list5)

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [21]:
# Answer before running cell
2 > 3

False

In [22]:
# Answer before running cell
3 <= 2

False

In [23]:
# Answer before running cell
3 == 2.0

False

In [24]:
# Answer before running cell
3.0 == 3

True

In [25]:
# Answer before running cell
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

In [26]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

False

# Advanced Python Objects Test

## Advanced Numbers

**Problem 1: Convert 1024 to binary and hexadecimal representation**

In [27]:
number = 1024

In [28]:
bin(number)

'0b10000000000'

In [29]:
hex(number)

'0x400'

In [30]:
print(f'1024 converted to a binary is: {bin(1024)}')
print(f'1024 converted to a hexadecimal is: {hex(1024)}')

1024 converted to a binary is: 0b10000000000
1024 converted to a hexadecimal is: 0x400

**Problem 2: Round 5.23222 to two decimal places**

In [31]:
num = 5.23222

print(round(num, 2))

5.23

In [32]:
round(5.23222, 2)

5.23

## Advanced Strings
**Problem 3: Check if every letter in the string s is lower case**

In [33]:
s = 'hello how are you Mary, are you feeling okay?'

s.islower()

False

**Problem 4: How many times does the letter 'w' show up in the string below?**

In [34]:
s = 'twywywtwywbwhsjhwuwshshwuwwwjdjdid'

s.count('w')

12

## Advanced Sets
**Problem 5: Find the elements in set1 that are not in set2:**

In [35]:
set1 = {2,3,1,5,6,8}
set2 = {3,1,7,5,6,8}

set1.difference(set2)

{2}

**Problem 6: Find all elements that are in either set:**

In [36]:
set1.union(set2)

{1, 2, 3, 5, 6, 7, 8}

## Advanced Dictionaries

**Problem 7: Create this dictionary:
{0: 0, 1: 1, 2: 8, 3: 27, 4: 64}
 using a dictionary comprehension.**

In [37]:
{x:x**3 for x in range(5)}

{0: 0, 1: 1, 2: 8, 3: 27, 4: 64}

## Advanced Lists

**Problem 8: Reverse the list below:**

In [38]:
list1 = [1,2,3,4]

In [39]:
list1[::-1]

[4, 3, 2, 1]

In [40]:
list1.sort(reverse=True)
list1

[4, 3, 2, 1]

In [41]:
list1 = [1,2,3,4]

list1.reverse()
list1

[4, 3, 2, 1]

**Problem 9: Sort the list below:**

In [42]:
list2 = [3,4,2,5,1]
list2.sort()
list2

[1, 2, 3, 4, 5]