## Challenging Function Practice Exercises

Problems are arranged in increasing difficulty:
* [Warmup - these can be solved using basic comparisons and methods](#warmup)
* [Level 1 - these may involve if/then conditional statements and simple methods](#level1)
* [Level 2 - these may require iterating over sequences, usually with some kind of loop](#level2)
* [Challenging - these will take some creativity to solve](#challenge)
* [Additional Random Exercises](#more)

<a id='warmup'></a>
## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [1]:
def lesser_of_two_evens(a,b):
    if (a%2==0) & (b%2==0):
        return min(a,b)
    else:
        return max(a,b)

In [2]:
# Check
lesser_of_two_evens(2,4)

2

In [3]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function that takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [4]:
def animal_crackers(text):
    text_list = text.split()
    return text_list[0][0] == text_list[1][0]

In [5]:
# Check
animal_crackers('Levelheaded Llama')

True

In [6]:
# Check
animal_crackers('Crazy Kangaroo')

False

In [7]:
#adding .lower() allows for one of the letters to be a capital.
def animal_crackers(text):
    text_list = text.lower().split()
    return text_list[0][0] == text_list[1][0]

In [8]:
animal_crackers('Crazy cat')

True

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [9]:
def makes_twenty1(n1,n2):
    if (n1+n2==20) or (n1, n2==20):
        return True
    else:
        return False

In [10]:
def makes_twenty(n1,n2):
    if (n1+n2==20) or (n1==20) | (n2==20):
        return True
    else:
        return False

In [11]:
# Check
makes_twenty(20,10)

True

In [12]:
# Check
makes_twenty(2,3)

False

In [13]:
def makes_twenty(n1,n2):
    return (n1+n2==20) | (n1==20) | (n2==20)

In [14]:
makes_twenty(20,10)

True

<a id='level1'></a>
## LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [15]:
# Method 1

def old_macdonald(name):
    first_letter = name[0]
    inbetween = name[1:3]
    fourth_letter = name[3]
    rest = name[4:]
    
    return first_letter.upper() + inbetween + fourth_letter.upper() + rest

In [16]:
# Check
old_macdonald('macdonald')

'MacDonald'

In [17]:
# Method 2
def old_macdonald(name):
    first_half = name[:3]
    second_half = name[3:]
    
    return first_half.capitalize() + second_half.capitalize()

In [18]:
# Check
old_macdonald('macdonald')

'MacDonald'

In [19]:
# My method
def old_macdonald(name):
    new_name = []
    for letter in name:
        new_name.append(letter)
    new_name[0] = new_name[0].capitalize()
    new_name[3] = new_name[3].capitalize()

    return ''.join(new_name)

In [20]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [21]:
def master_yoda(text):
    text_list = text.split()
    reverse_list = text_list[::-1]
    return ' '.join(reverse_list)

In [22]:
# Check
master_yoda('I am home')

'home am I'

In [23]:
# this converts everything to lowercase and then capitalizes the new first letter.
def master_yoda(text):
    text_list = text.lower().split()
    text_list = text_list[::-1]
    return ' '.join(text_list).capitalize()

In [24]:
# Check
master_yoda('I am home')

'Home am i'

In [25]:
# Check
master_yoda('We are ready')

'Ready are we'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [26]:
# mine
def almost_there(n):
    return 90<n<110 or 190<n<210

In [27]:
# another method
def almost_there(n):
    return (abs(100-n) <= 10) or (abs(200-n) <= 10)

In [28]:
# Check
almost_there(104)

True

In [29]:
# Check
almost_there(150)

False

In [30]:
# Check
almost_there(209)

True

<a id='level2'></a>
## LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [31]:
def has_33(nums):
    for i in range(0, len(nums)-1):
        if nums[i] == 3 and nums[i+1]==3:
            return True             
    
    return False

In [32]:
# Check
has_33([1, 3, 3])

True

In [33]:
# Check
has_33([1, 3, 1, 3])

False

In [34]:
# Check
has_33([3, 1, 3])

False

In [35]:
def has_33(nums):
    for i in range(0, len(nums)-1):
        if nums[i] == nums[i+1]:
            return True             
    
    return False

In [36]:
# Check
has_33([1, 3, 3])

True

In [37]:
def has_33(nums):
    for i in range(0, len(nums)-1):
        if nums[i:i+2] == [3,3]:
            return True             
    
    return False

In [38]:
# Check
has_33([1, 3, 3])

True

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [39]:
def paper_doll(text):
    result = ''
    
    for char in text:
        result += char*3
    return result

In [40]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

In [41]:
string = 'hello'
new_string = []
for letter in string:
    new_string.append(letter*3)

''.join(new_string)

'hhheeellllllooo'

In [42]:
string = 'hello'

for letter in string:
    letter*3

In [43]:
def paper_doll(text):
    new_string = []
    for letter in text:
        new_string.append(letter*3)

    return ''.join(new_string)

In [44]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [45]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [46]:
def blackjack(a,b,c):
    if sum([a,b,c]) <= 21:
        return sum([a,b,c])
    elif (sum([a,b,c]) >= 21) & (a==11 or b==11 or c==11):
        return sum([a,b,c]) - 10
    elif sum([a,b,c]) >= 21:
        return 'BUST'

In [47]:
# Check
blackjack(5,6,7)

18

In [48]:
# Check
blackjack(9,9,9)

'BUST'

In [49]:
# Check
blackjack(9,9,11)

19

In [50]:
def blackjack(a,b,c):
    if sum([a,b,c]) <= 21:
        return sum([a,b,c])
    elif 11 in [a,b,c] and (sum([a,b,c]) >= 21):
        return sum([a,b,c]) - 10
    elif sum([a,b,c]) >= 21:
        return 'BUST'

In [51]:
blackjack(5,6,7)

18

In [52]:
blackjack(9,9,9)

'BUST'

In [53]:
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [54]:
def summer_69(arr):
    total = 0
    add = True
    
    for num in arr:
        while add:
            if num!=6:
                total += num
                break
            else:
                add= False
        while not add:
            if num != 9:
                break
            else:
                add=True
                break
    return total

In [55]:
# Check
summer_69([1, 3, 5])

9

In [56]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [57]:
# Check
summer_69([2, 1, 6, 9, 11])

14

<a id='challenge'></a>
## CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [58]:
#this is for 007 in order
def spy_game(nums):
    for i in range(0, len(nums)-2):
        if nums[i:i+3] == [0,0,7]:
            return True             
    
    return False

In [59]:
# this is 007 in any oder
def spy_game(nums):
    
    code = [0,0,7,'x']
    
    for num in nums:
        if num == code[0]:
            code.pop(0)
    
    return len(code)==1

In [60]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [61]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [62]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [63]:
def count_primes(num):
    
    #check for 0 or 1 input
    if num < 2:
        return 0
    
    # 2 or greater
    
    #store our prime numbers
    primes = [2]
    #counter going up to the input num
    x = 3
    
    while x <= num:
        #check if x is prime
        for y in range(3, x, 2):
            if x%y == 0:
                x +=2
                break
        else: 
            primes.append(x)
            x +=2
    print(primes)
    return len(primes)

In [64]:
def count_primes(num):
    
    #check for 0 or 1 input
    if num < 2:
        return 0
    
    # 2 or greater
    
    #store our prime numbers
    primes = [2]
    #counter going up to the input num
    x = 3
    
    while x <= num:
        #check if x is prime
        for y in primes:        #difference is here
            if x%y == 0:
                x +=2
                break
        else: 
            primes.append(x)
            x +=2
    print(primes)
    return len(primes)

In [65]:
# Check
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [66]:
def print_big(letter):
    patterns = {1:'  *  ',2:' * * ',3:'*   *',4:'*****',5:'**** ',6:'   * ',7:' *   ',8:'*   * ',9:'*    '
                ,10:'***  '}
    alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5],'C':[4,9,9,9,4],'D':[5,3,3,3,5],'E':[4,9,4,9,4], 
               'F':[4,9,10,9,9]}
    
    for pattern in alphabet[letter.upper()]:
        print(patterns[pattern])

In [67]:
print_big('a')

  *
 * *
*****
*   *
*   *

In [68]:
print_big('f')

*****
*
***
*
*

<a id='more'></a>
## Additional Random Exercises 

**Write a function that computes the volume of a sphere given its radius.**
<p>The volume of a sphere is given as $$\frac{4}{3} πr^3$$</p>

In [69]:
from math import pi

pi1 = float(format(pi, '.4f'))

def vol(rad):
    volume = (4/3) * pi1 * (rad**3)
    return volume

In [70]:
vol(3)

113.09759999999999

___
**Write a function that checks whether a number is in a given range (inclusive of high and low)**

In [71]:
def ran_check(num,low,high):
    '''Check if num is between low and high (including low and high)'''
    if num in range(low, high+1):
        print(f'{num} is in the range between {low} and {high}')
#         print('{} is in the range between {} and {}'.format(num,low,high))
    else:
        print(f'{num} is not in the range between {low} and {high}')

In [72]:
# Check
ran_check(7,2,7)

7 is in the range between 2 and 7

If you only wanted to return a boolean:

In [73]:
def ran_bool(num,low,high):
    if num in range(low, high+1):
        return True
    else:
        return False

In [74]:
ran_bool(11,1,10)

False

A better solution

In [75]:
def ran_bool(num,low,high):
    return num in range(low,high+1)

____
**Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters.**

    Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
    Expected Output : 
    No. of Upper case characters : 4
    No. of Lower case Characters : 33

HINT: Two string methods that might prove useful: **.isupper()** and **.islower()**

If you feel ambitious, explore the Collections module to solve this problem!

In [76]:
name = 'MicHael FelmAn 89'
upper_count = 0
lower_count = 0

for letter in name:
    if letter.isupper():
        upper_count +=1
    elif letter.islower():
        lower_count +=1
    else:
        continue
    
        
print(upper_count)
print(lower_count)

4
9

In [77]:
#My method

def up_low(s):
    upper_count = 0
    lower_count = 0

    for letter in s:
        if letter.isupper():
            upper_count +=1
        elif letter.islower():
            lower_count +=1
        else:
            continue
    print(f'Original String: {s}')
    print(f'No. of Upper case characters: {upper_count}')
    print(f'No. of Lower case characters: {lower_count}')

In [78]:
s = 'Hello Mr. Rogers, how aRe you tHis fine Tuesday?'
up_low(s)

Original String: Hello Mr. Rogers, how aRe you tHis fine Tuesday?
No. of Upper case characters: 6
No. of Lower case characters: 31

In [79]:
# another method - using a dictionary to keep the count
def up_low(s):
    d = {'upper':0, 'lower':0}
    
    for char in s:
        if char.isupper():
            d['upper'] += 1
        elif char.islower():
            d['lower'] += 1
        else:
            pass
    
    print(f'Original String: {s}')
    print('No. of Upper case characters:', d['upper'])
    print('No. of Lower case characters:', d['lower'])

In [80]:
s = 'Hello Mr. Rogers, how aRe you tHis fine Tuesday?'
up_low(s)

Original String: Hello Mr. Rogers, how aRe you tHis fine Tuesday?
No. of Upper case characters: 6
No. of Lower case characters: 31

____
**Write a Python function that takes a list and returns a new list with unique elements of the first list.**

    Sample List : [1,1,1,1,2,2,3,3,3,3,4,5]
    Unique List : [1, 2, 3, 4, 5]

In [81]:
def unique_list(lst):
    list1 = set(lst)
    list2 = list(list1)
    return list2

In [82]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

In [83]:
def unique_list(lst):
    return list(set(lst))

In [84]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5,6,6,8,9])

[1, 2, 3, 4, 5, 6, 8, 9]

In [85]:
def unique_list(lst):
    x = []
    for num in lst:
        if num not in x:
            x.append(num)
    return x

In [86]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5,6,6,8,9])

[1, 2, 3, 4, 5, 6, 8, 9]

____
**Write a Python function to multiply all the numbers in a list.**

    Sample List : [1, 2, 3, -4]
    Expected Output : -24

In [87]:
def multiply(numbers):  
    product = 1
    for num in numbers:
        product *= num
    return product

In [88]:
multiply([1,2,3,-4])

-24

____
**Write a Python function that checks whether a passed in string is palindrome or not.**

Note: A palindrome is word, phrase, or sequence that reads the same backward as forward, e.g., madam or nurses run.

In [89]:
name = 'nurses run'

if name == name[::-1]:
    print('this is a pallendrome')
else:
    print('this is not a palendrome')

this is not a palendrome

In [90]:
name = 'nurses'
name_list = name.split()
joint_name = ''.join(name_list)
joint_name

'nurses'

In [91]:
name = 'nurses run'

name_list = name.split()
joint_name = ''.join(name_list)

if joint_name == joint_name[::-1]:
    print('this is a pallendrome')
else:
    print('this is not a palendrome')

this is a pallendrome

In [92]:
def palindrome(s):
    s_list = s.split()
    joint_s = ''.join(s_list)

    if joint_s == joint_s[::-1]:
        print('this is a pallendrome')
    else:
        print('this is not a palendrome')

In [93]:
palindrome('nurses run')

this is a pallendrome

In [94]:
def palindrome(s):
    
    s = s.replace(' ','') # This replaces all spaces ' ' with no space ''. (Fixes issues with strings that have spaces)
    return s == s[::-1]   # Check through slicing

In [95]:
palindrome('nurses run')

True

____

**Write a Python function to check whether a string is pangram or not.**

    Note : Pangrams are words or sentences containing every letter of the alphabet at least once.
    For example : "The quick brown fox jumps over the lazy dog"

Hint: Look at the string module

In [96]:
import string

def ispangram(str1, alphabet=string.ascii_lowercase):
    alphaset = set(alphabet)
    print(alphaset)
    return alphaset <= set(str1.lower())

In [97]:
ispangram("The quick brown fox jumps over the lazy dog")

{'d', 'o', 'e', 'n', 'y', 'r', 'c', 'x', 's', 'm', 'u', 'b', 't', 'f', 'z', 'i', 'p', 'h', 'j', 'l', 'a', 'v', 'k', 'w', 'q', 'g'}

True

In [98]:
ispangram('hello there everybody')

{'d', 'o', 'e', 'n', 'y', 'r', 'c', 'x', 's', 'm', 'u', 'b', 't', 'f', 'z', 'i', 'p', 'h', 'j', 'l', 'a', 'v', 'k', 'w', 'q', 'g'}

False

In [99]:
import string

def ispangram(str1):
    alpha_list = list(string.ascii_lowercase)
    
    for letter in str1.lower():
        if letter in alpha_list:
            alpha_list.remove(letter)

    return len(alpha_list)==0

In [100]:
ispangram("The quick brown fox jumps over the lazy dog")

True

In [101]:
ispangram('hello there everybody')

False

In [102]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'